$mobile-w: 360px;
$tablet-w: 768px;
$laptop-w: 1024px;
$desktop-w: 1366px;
$large-w: 1920px;

$dark-theme: prefers-color-theme;

$color-primary: #000000 !default;
$color-secondary: #171727 !default;

@if (prefers-color-theme: dark) {
  $color-primary: lighten($color-primary, 100%);
  $color-secondary: lighten($color-secondary, 50%);
  //$color-secondary: peachpuff;
}