$mobile-w: 360px;
$tablet-w: 768px;
$laptop-w: 1024px;
$desktop-w: 1366px;
$large-w: 1920px;

$color-primary: black;
$color-secondary: darkgray;

@if (prefers-color-scheme: dark) {
  $color-primary: #ffffff;
  $color-secondary: peachpuff;
}