.Main {
  margin: 0 auto;
  overflow-x: hidden;
}

.Inner {
}

.Title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.Content {
  margin-top: 40px;
  padding: 0 100px;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.card {
  width: 240px;
  height: 320px;
  border-radius: 20px;
  border: 8px solid wheat;
}

.box_1 {
  background-color: #2e3d52;
}

.box_2 {
  background-color: #ffa500;
}

.box_3 {
  background-color: #263954;
}

.box_4 {
  background-color: #f39821;
}

.ImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 100%;
  @include ifdesktop {
    width: 28vw;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
}

.hide {
  opacity: 0;
}

.ArrowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  user-select: none;
  rotate: 337deg;
  z-index: 10;
  position: fixed;

  top: 10vh;
  right: 0;
  width: 114px;
  height: 114px;
  @include ifdesktop {
    rotate: 30deg;

    top: 10vw;
    right: 20vw;
    width: 458px;
    height: 458px;
  }

  &__text {
    font-size: 18px;
    text-shadow: #171727;
    position: absolute;
    top: 0;
    @include ifdesktop {
      font-size: 48px;
    }
  }

  &__img {
    position: absolute;
    animation-duration: 0.7s;
    animation-name: anim;
    animation-iteration-count: infinite;
  }
}

@keyframes anim {
  from {
    margin-left: 10%;
  }

  50% {
    margin-left: 50%;
  }

  to {
    margin-left: 10%;
  }
}
